.opp {
  background: linear-gradient(
      rgba(248, 248, 248, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../src/picture/home3.jpg);

  background-repeat: no-repeat;
  height: 3000px;
  width: 5000px;
}

.text {
  color: black;
}

.display {
  display: inline-block;
}

.relatif {
  position: relative;
}

.opp2 {
  background: linear-gradient(
      rgba(248, 248, 248, 0.342),
      rgba(255, 255, 255, 0.3)
    ),
    url(../src/picture/Loginsport.jpg);
}

.opp3 {
  background: linear-gradient(
      rgba(248, 248, 248, 0.342),
      rgba(255, 255, 255, 0.3)
    ),
    url(../src/picture/sport.jpg);
}

.inline {
  display: inline-block;
}

.absolut {
  position: absolute;
}
